*{
	box-sizing: border-box;
}

html{
	font-size: 20px;
}

/* centers the webpage */
body{
	display: flex;
	justify-content: center;
}

body > div{
	width: 1500px;
}


/* navbar section*/
nav{
	display: flex;
	background: #E5E2DE;
	height: 60px;
	margin: 10px 0;
	justify-content: space-between;
	align-items: center;
	
}


nav > div{
	display: flex;
	
}


.navigation{
	padding: 5px;
	
	margin: 5px;
		
}

.navBorder{
	border: 2px solid #777674;
}

.navSmallScreen{
	display: none;
}



/* title and about me section*/
header{
	display: flex;
	/*height: 800px;*/
	justify-content: center;
	align-items: center;
	padding: 180px 0;
	margin: 0 25px;
	background-image: url("titleBackground2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


/*header > img{
	position: absolute;
	height: 100%;
	z-index: -1;

}*/


header > div{
	width: 750px;
	color: #FEE6D3;
	/*font-weight: bold;*/
	
}

h2{
	margin: 0;
}


.titleBackgroundFooter{
	display: flex;
	justify-content: center;
}







@media only screen and (max-width: 850px){
	
	html{
		font-size: 13px;
	}
	
	.navLargeScreen{
		display: none;
	}
	.navSmallScreen{
		display: flex;
		
	}
	
	body > div{
		width: 100%;
	}
	
	
	.navigation{
		height: 25px;
		padding: 1px;
		margin: 1px;
		
	}

	.navBorder{
		border: 1px solid #777674;
	}
	
	nav{
		height: 30px;
	}
	
	header{
		margin: 0 5px;
	}
	
	header > div{
		width: 200px;
	}
	
	
	
	p{
		font-size: 1.2rem;
	}
	
	
}

