*{
	box-sizing: border-box;
}

html{
	font-size: 20px;
}


body{
	display: flex;
	justify-content: center;
}

body > div{
	width: 1500px;
}




nav{
	display: flex;
	background: #E5E2DE;
	height: 50px;
	justify-content: space-between;

}

nav > div{
	display: flex;
	align-items: center;
}


.navigation{
	padding: 5px;
	border: 2px solid #777674;
	margin: 5px;
		
}

header{
	display: flex;
	height: 800px;
	justify-content: center;
	align-items: center;
	/*background-image: url("titleBackground.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
}


img{
	position: absolute;
	height: 800px;
	z-index: -1;
	
}


header > div{
	width: 750px;
	color: #FEE6D3;
	/*font-weight: bold;*/
	
}

h2{
	margin: 0;
}


.titleBackgroundFooter{
	display: flex;
	justify-content: center;
}